{
    "plugins": ["transform-class-properties"],
    "presets": [
      "react",
      [
        "env",
        {
          "targets": {
            "browsers": ["ie >= 11"]
          }
        }
      ]
    ]
  }